@font-face{
    font-family:AnnStone;
    src:url(fonts/AnnStone.ttf);
}
@font-face{
    font-family:GutFakt;
    src:url(fonts/GothenburgFraktur.ttf);
}
@font-face{
    font-family:Alap;
    src:url(fonts/UniAntReg.ttf);
}



body{
	background-color: #BBDFDF;
    position: relative;
    font-family: Alap;
}
.stdJumbo{
	background-repeat: no-repeat;
    font-family: Alap;
    background-position:center;
	background-size:100%;
}
#indexJumbo{
	background:url(../pix/ui/ixJmbBgrnd.jpg);
    color:#CDCDCD;
}
#raktarJumbo{
	background:url(../pix/ui/jmbRktr.jpg);
    color:#CDCDCD;
}
#plyrstatJumbo{
	background:url(/GAME001/pix/ui/jmbPlyrStats.jpg);
	/*background-size: 75%;*/
	background-position:center;
	background-size:100%;
	color:#FFFF00;
}


p{
    padding:5px;
    border-radius:3px;
}
td{
    border-radius:5px;
}
th{
    font-size: 1.2em;
}
.navbar-brand{
	font-size:22px;
	font-family:"Segoe UI";
}
.fstRow{
	margin-top:50px;
}

.one-badge{
    background-color: #DEDEDE;
    border:2px #CCCCCC solid;
    margin-top:5px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #585858;
}

.one-badge:hover{
    background-color: #CDCDCD;
    border:2px #CCCCCC solid;
    margin-top:5px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #CA00CA;
    font-weight: 700;
}

.badge-std-img{
    background-color: #CCCCCC;
    height: 128px;
    width: 128px;
    margin:3px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #A9A9A9;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #CECECE;
}
.progress{
    background-color: #140096;
}

img.statIcon64{
	width:64px;
	height:64px;
	box-shadow:5px 5px 8px #252525;
	transition: ease-in-out, .8s;
}
img.icon64{
	width:64px;
	height:64px;
	border:2px #CDCDCD solid;
	border-radius:6px;
	box-shadow:5px 5px 8px #252525;
	transition: ease-in-out, .8s;
}
img.icon64:hover{
	transform: scale(1.3);
}
img.icon128{
	width:128px;
	height:128px;
	border:4px #CDCDCD solid;
	border-radius:12px;
	box-shadow:5px 5px 8px #252525;
	transition: ease-in-out, .8s;
}
img.icon128:hover{
	transform: scale(1.3);
}
img.plyrPortrait{
	width:400px;
	height:600px;
	background: url(/GAME001/pix/heroPrtrs/m001.jpg);
    background-position:center;
	background-size:90%;
	background-repeat:no-repeat;
	margin:15px;
}

/*****************************************************************************************/
/***********************       OVERWRITE BOOTSTRAP CSS            ************************/
/*****************************************************************************************/

ul.dropdown-menu li{
	border-bottom:1px #FF0000 solid;
	background-color: #CDCDCD;
}
ul.dropdown-menu li a:hover{
	background-color: #ABABAB;
	font-weight: bold;
	font-style: italic;
}
.fstRow{
	margin-top: 75px;
}




/***************************** PROGRESS BARS *********************************/
.progress-bar-striped{
	color: #050505;
}

progress-bar-test{
	background-color: #9F9F9F;
}

/*****************************    BUTTONS   *********************************/
button.btn-tst{
    background: -moz-linear-gradient(
        rgba(70,90,125,1)30%,
        rgba(255,255,255,.55)70%,
        rgba(70,90,125,1)100%);
    box-shadow: 3px 3px 3px #252525;
}
button.btn-tst:hover{
    background: -moz-linear-gradient(
        rgba(70,90,125,1)20%,
        rgba(255,255,255,.55)80%,
        rgba(70,90,125,1)100%);
    box-shadow: 2px 2px 2px #050505;
}
.btn-ui-normal{
    margin:10px;
    width:210px;
    height: 78px;
    background:url(../pix/ui/btn01.png);
    font-family: GutFakt;
    font-size: 24px;
}
.btn-ui-normal:hover{
    width:210px;
    height: 78px;
    background:url(../pix/ui/btn01_hvr.png);
    font-family: GutFakt;
    font-size: 24px;
    font-weight: 700;
    color:#6E2D04;
}

/***************************** UI SPEC DIVS *********************************/
div.flyinDiv{
    /*visibility: hidden;*/
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 25%;
    width: 200px;
    /*bottom: 20px;*/
    height: 50px;
    padding: 0;
}
div.flyRED{
    background:url(../pix/ui/dmgBgrnd.png);
    color: #050505;
    font-family: GutFakt;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    /*border:2px dotted #990000;
    border-radius: 15px;*/
    box-shadow: 3px 3px 5px #959595;
    /*transition: all 2 ease-in-out;
    transform:scale(2);*/
}
div.flyGREEN{
    background-color: #00e600;
    color:#004d00;
    font-family: GutFakt;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    border:2px dotted #990000;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #004d00;
}
div.flyBLUE{
    background-color: #80aaff;
    color:#002b80;
    font-family: GutFakt;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    border:2px dotted #FFFFFF;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #959595;
}
div.statDiv{
	min-width:200px;
	min-height:100px;
	padding:12px;
	height:auto;
	overflow:auto;
	background: linear-gradient(to bottom, #A5A5A5, #CDCDCD);
	/*background: linear-gradient(
        rgba(153,51,0,1)10%,
        rgba(255,255,220,.55)50%,
        rgba(255,255,220,.55)55%,
        rgba(153,51,0,1)100%);*/
    border:1px solid #5A5A5A;
    border-top:1px solid #FAFAFA;
    border-left:1px solid #FAFAFA;
    border-radius:8px;
    box-shadow: 5px 5px 10px 3px #333333;
    color:#882200;
}
div.statName{
	text-align: center;
	font-family:Alap;
	font-size:20px;
}
div.statIcon{
	float:left;
}
div.statValue{
	float:left;
	min-width:200px;
	min-height:100px;
	width:75%;
	border:1px #FF0000 solid;
	margin-left: 12px;
	background-color: rgba(120,120,120,.5);
	padding-top: 20px;
	text-align: center;
	font-family: Alap;
	font-size: 25px;
	font-weight:500;
	color:#FFFF00;
}
.c{
	clear:both;	
}




p.ERRMsg{
	background-color: #ffe6ff;
	color:#99003d;
	font-family: "Courier New";
	font-size:18px;
	padding: 6px;
	border: 4px solid #FF0000;
	box-shadow:3px 3px 5px #505050; 
	border-radius:8px;
}

p.OKMsg{
	background-color: #80ffaa;
	color:#004d00;
	font-family: "Courier New";
	font-size:18px;
	padding: 6px;
	border: 4px solid #FF0000;
	box-shadow:3px 3px 5px #505050; 
	border-radius:8px;
}


.well{
    background-color: #5A5A5A;   
    background: linear-gradient(to bottom, #CDCDCD,#5A5A5A);
    border-bottom: 1px solid #5A5A5A;
    border-left: 1px solid #5A5A5A;
    border-top: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    border-radius: 12px;
    box-shadow: 3px 2px 6px #050505;
}
.well:hover{
    background-color: #4e4e4e;   
    background: linear-gradient(to bottom, #CDCDCD,#4e4e4e);
    border-bottom: 1px solid #5A5A5A;
    border-left: 1px solid #5A5A5A;
    border-top: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    border-radius: 12px;
    box-shadow: 4px 3px 7px #050505;
}
.well-title{
    font-size: 18px;
    text-decoration: underline;
}


















